.todolistTitle {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.deleteTodolistButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    border: none;
    background-color: transparent;
}

.deleteTodolistButton:hover {
    transform: scale(1.08);
}
.deleteTodolistButton:disabled {
    cursor: not-allowed;
}
