.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.addButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    border: none;
    background-color: transparent;
}

.addButton:hover {
    color:#787878;
    transform: scale(1.08);
}
