.todolist{
    border: 1px solid rgba(120, 119, 119, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 2rem;
    background: rgba(255, 255, 255, 0.73);
    box-shadow:
            0 4px 16px rgba(120, 120, 120, 0.36),
            inset 0 1px 0 rgba(255, 255, 255, 0.9);
}
